<div class="certs">
	
	<h3>Here's</h3>

	<p>
		what I've learned:
		<br><br>

		<a href="http://www.poliquingroupeducation.com/picp.html">PICP Level 2 </a><br>
		<img class="certpics" src="./dist/poliquin.jpg">

		<br>
		
		<a href="https://www.movnat.com/about-us/">MovNat Level 1</a><br>
		<img class="certpics" src="./dist/movnat.jpg">

		<br>

		<a href="http://www.teamusa.org/USA-Weightlifting/">USA W.L. Level 1 </a><br>
		<img class="certpics" src="./dist/usaweightlifting.png">

		<br>

		<a href="http://www.nasm.org/">NASM P.T.</a><br>
		<img class="certpics" src="./dist/nasm.jpg">

	</p>

</div>