<div class="certs">
	
	<h3>I am constantly learning</h3>

	<p>
		new things every day. I have been active in getting certifications from many sources, and I believe in getting many more. Here's what I've been certified in so far:
		<br><br>

		<a href="http://www.poliquingroupeducation.com/picp.html">PICP Level 2 </a><br>
		<img class="certpics" src="./dist/poliquin.jpg">

		<br>
		
		<a href="https://www.movnat.com/about-us/">MovNat Level 1</a><br>
		<img class="certpics" src="./dist/movnat.jpg">

		<br>

		<a href="http://www.teamusa.org/USA-Weightlifting/">USA W.L. Level 1 </a><br>
		<img class="certpics" src="./dist/usaweightlifting.png">

		<br>

		<a href="http://www.nasm.org/">NASM P.T.</a><br>
		<img class="certpics" src="./dist/nasm.jpg">

	</p>

</div>