<div class="contact">
	
	<h3>My contact info</h3>

	<p>
		is as follows: If you're interested in any of my services or have any questions, don't hesitate to reach out to my email: <a href="mailto:trainerjesshtx@gmail.com">trainerjesshtx@gmail.com</a>
	</p>
		
	<p>
		I also have a facebook page, located <a href="http://www.facebook.com/trainerjesshtx">right here</a>
	</p>
		
	<p>	
		If you want to see what I'm up to on Instagram, my username is <a href="http://www.instagram.com/trainerjess">TrainerJess</a>
	</p>

	<p>
		Or, I've made it easy. See the bottom right? Click away.
	</p>


</div>