<div class="services">

	<h3>My services</h3>

	<p>
		are offered in several different packages to fit your personal needs. Please note that I include nutritional advice if you are a monthly recurring client for my mid-day workouts, and of course it is included if you take Personal Training sessions from me. 
	</p>

	<h4>Personal Training</h4>
	<p>
		Available in 30 minute, 45 minute, and 60 minute sessions, as a group or one on one. Group rates discounted on an individual basis. 
	</p>

	<h4>Mid-Day Daily Classes</h4>
	<p>
		Every Monday through Friday, I offer a group class at Covenant Crossfit (located at 3420 W Dallas St, Houston, TX 77019) from 12:30-1:30 PM. Drop-ins are $15, or $150/month for unlimited classes.
	</p>

	<h4>High Intensity Interval Training</h4>
	<p class="lastparagraph">
		Every Friday, I offer three classes (6:30 AM, 7:30 AM, 8:30 AM) in a HIIT style workout. Around 45 minutes in length, this class will jumpstart your Friday into high gear. Each class is $10, and are held at Studio Fitness in the Heights (located at 2215 Lawrence St, Houston, TX 77008).
	</p>

</div>