<div class="services">

	<h3>My services</h3>

	<p>
		are offered in several different packages to fit your personal needs. 

		<ul>
			<li>Personal Training</li>
			<li>Small Group Training</li>
			<li>Group Strength & Conditioning Training</li>
			<li>Nutritional Guidance</li>
			<li>Mobility Enhancement</li>
			<li>In-home training (case by case basis)</li>
		</ul>
	</p>

	<h4>Personal Training/Small Group Training</h4>
	<p>
		Workouts are available in 30, 45, and 60 minute sessions, one-on-one or as a small group. You will receive a customized training program that addresses your personal goals and needs, and nutritional guidance. Training takes place at Studio Fitness in The Heights. Pricing varies based on time and number of participants. Email me at trainerjesshtx@gmail.com for rates!  
	</p>

	<h4>Mid-Day Montrose Workout**</h4>
	<p>
		Perfect timing for those with a flexible work schedule, a long lunch hour, or working in the service industry. No more having to wake up early to workout after a long shift, and finished in enough time to go in for a happy hour shift! This class is held Monday through Friday from 12:30pm-1:30pm at Covenant Crossfit (located at 3420 W Dallas St, Houston, TX 77019). This is a group strength and conditioning workout designed with periodized programming to help you reach your strength and body composition goals! All workouts are completely scaleable and can be modified to match your level of ability, personal goals and needs. $150/month for unlimited classes! Drop-ins $20.<br>
		**This is NOT a Crossfit workout!
	</p>

	<h4>High Intensity Interval Training</h4>
	<p class="lastparagraph">
		Doing a High Intensity Interval Training workout one to two times per week can drastically improve your body's fat burning ability! Who wouldn't want that?! Every Friday at Studio Fitness (located at 2215 Lawrence St, Houston, TX 77008), I hold 2 HIIT workouts, one at 6:30am and 7:30am. Each class is 45 minutes in length for a drop-in fee of $10. No need to reserve a spot in advance, just stop come by Studio Fitness a few minutes before class starts to sign in. This class is a great addition to any fitness program you may be currently on!
	</p>

</div>